/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2018, 1:36:34 AM
    Author     : Toshiba
*/

.jfx-snackbar-content{
    
    -fx-background-color:#66ccff;
    -fx-border-color: #006666;
     
}

.jfx-snackbar-toast{
    -fx-text-fill: #000000;
    
}

.button {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

